@font-face {
  font-family: digitalFont;
  src: url(digital-7.ttf);
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: digitalFont;
  margin: 0;
}

body {
  background-color: #222222;
}
